/*
CSS Anatomia

- Seletor

Seleciona o elemento(s) que deve ser estilizado.

- Bloco CSS

Engloba as propriedades {} que serão aplicadas ao seletor.

- Propriedade

Define o que será alterado.

- Valor

Define o valor do novo estilo.
*/

h1 {
  color: blue;
}

a {
  color: green;
  text-decoration: none;
}

/*Os estilos são aplicados em "cascata", um acima do outro. A ordem e especificidade do seletor importam no CSS.*/

a {
  color: tomato;
}
